{# -*- engine: django -*- #}
{% block magellan %}
  <div class="syllabus-magellan data-sticky-container">
    <nav class="sticky" data-sticky data-anchor="syllabus-anchor" data-sticky-on="small">
      <ul class="magellan-menu" data-magellan>
        <li class="magellan-menu-title">Syllabus</li>
        <li><a href="#course-description">Description</a></li>
        <li><a href="#course-instructor">Instructor</a></li>
        <li><a href="#course-objectives">Objectives</a></li>
        <li><a href="#course-materials">Materials</a></li>
        <li><a href="#course-policies">Policies</a></li>
        <li><a href="#course-grading">Grading</a></li>
        <li><a href="#course-expectations">Expectations</a></li>
        <li><a href="#course-conduct">Conduct</a></li>
        <li><a href="#course-disclaimer">Disclaimer</a></li>
      </ul>
    </nav>
  </div>
{% endblock magellan %}
