{# -*- engine: django -*- #}
<section class="static-page-body">
  {% for category, articles in categories if category is equalto "Materials" %}
    <div class="wookmark-card-grid">
      <ul>
        {% for article in articles|sort(attribute='date', reverse=true) %}
          {{ wookmark_card(article.title, article.date|strftime('%B %d, %Y'), article.date.isoformat(), article.summary, article.content, article.url, article.tags, article.show_summary|lower, article.show_link|lower) }}
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</section>
