{# -*- engine: django -*- #}
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/cds101.min.js"></script>
{% block scripts %}
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/vendor/highlightjs/highlight.min.js"></script>
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/vendor/katex/katex.min.js"></script>
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/vendor/katex/contrib/auto-render.min.js"></script>
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/vendor/wookmark/wookmark.min.js"></script>
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/vendor/fontawesome/fontawesome-all.min.js"></script>
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/vendor/vendorInit.js"></script>
{% endblock %}
